.main-footer {
  background-color: var(--dark-color);
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-icons > * {
  margin-right: 5px;
}